/* contactpage*/

.contact {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  margin: 10px 0px;
  border: 1px solid #c4c4c4;
  display: block;
}

.place-holder {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  margin: 10px auto 10px auto;
  border: 1px solid #c4c4c4;
}
.contact h1 {
  grid-column: span 2;
  text-align: center;
}

.cta-contact {
  grid-column: 3 / 4;
  text-align: center;
  background-color: #bb0000;
  border: none;
  color: #fff;
  border-radius: 6px;
  width: 160px;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.cta-contact:before {
  content: "";
  height: 100px;
  background-color: white;
  position: absolute;
  padding: 10px;
  top: -40px;
  transform: rotate(45deg);
  left: -100px;
  opacity: 0.2;
  transition: 1s ease-in;
}
.cta-contact:hover::before {
  left: 120%;
}
.form-left,
.form-right {
  text-align: left;
  max-width: 100%;
}

.send-btn {
  text-align: center;
  grid-column: span 2;
}
