/* moible mmedia queries */
@media (max-width: 511px) {
  .guitarpage {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .hamburger {
    display: flex;
    flex: 1;
    color: white;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: min-content;
    transform: translateX(-80px);
  }
  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
  .description img {
    width: 80%;
  }
  .featured-products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .review-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product-item {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .product-image_thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-details {
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .form-left {
    margin: inherit;
    width: 100%;
  }
  .form-right {
    margin: inherit;
    width: 100%;
    height: 100px;
  }
}
/* tablet media queries */

@media (min-width: 512px) and (max-width: 720px) {
  .welcome {
    background: url(../images/home-header.jpg) no-repeat;
    background-size: cover;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
    padding: 50px 10px;
  }
  .container {
    max-width: min-content;
    transform: translateX(-80px);
  }
  .cta-top {
    padding: 10px 10px;
  }
  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
  .description img {
    width: 80%;
  }
  .featured-products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .review-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header {
    display: grid;
    grid-template-columns: auto auto;
  }

  .guitarpage {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    text-align: center;
    grid-gap: 10px;
    padding: 10px;
  }
  .product-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-image_thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .form-left,
  .form-right {
    margin: inherit;
    max-width: 100%;
  }
  .form-right {
    height: 100px;
  }
  .product-specific {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* desktop mmedia queries */
@media (min-width: 669px) and (max-width: 1024px) {
  .product-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .description img {
    width: 80%;
  }
}
