@import "imports/layout.css";
@import "imports/typography.css";

@font-face {
  font-family: "boots";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

/* global  */

header {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  color: #fff;
  padding: 5px 5x 5px 5px;
  font-size: 1.5em;
  margin-right: 30px;
}
nav li,
nav a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  font-size: 1em;
}
.active {
  text-decoration: underline;
}
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: white;
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

footer {
  text-align: center;
  color: #e8e8e8;
}
.cta {
  background-color: #bb0000;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  min-width: 51.2px;
  position: relative;
  overflow: hidden;
}
.sale {
  background-color: #127300;
}
.cta::before {
  content: "";
  height: 70px;
  background-color: white;
  position: absolute;
  padding: 10px;
  top: -15px;
  transform: rotate(45deg);
  left: -50px;
  overflow: hidden;
  opacity: 0.3;
  transition: 1s ease-in;
}
.sale:before {
  content: "";
  height: 80px;
  background-color: white;
  position: absolute;
  padding: 10px;
  top: -20px;
  transform: rotate(45deg);
  left: -50px;
  overflow: hidden;
  opacity: 0.1;
  transition: 1s ease-in;
}
.cta:hover:before,
.sale:hover:before {
  left: 130%;
}

/*product page */

.product-item {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 30px;
  padding: 20px;
}
.product-item > * {
  flex: 1;
}
.product-image_thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product-details > * {
  margin-bottom: 20px;
}
.product-details a {
  margin: auto;
  width: 245.61px;
  display: block;
}
.price {
  font-size: 1.3em;
}
